################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AlugaCarsAPI/FileContentIndex/0cc19054-a0b6-4e93-a03c-f9255b6b514c.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/57c36a6f-dd0f-49a1-98f9-271d4930cc87.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/758d8499-22c4-4d4c-8acb-c606b4d69fed.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/d283c0f3-f040-4dbe-850e-68d0a026c1ef.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/fca8fa3d-22fe-4aec-9fce-b3964fc928cf.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/01138830-f872-4d39-b8d2-8319433a036e.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/15a17989-ded1-4b65-8f59-e9f974f789b3.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/b0fd8299-4e84-4c71-b986-b612d5764bd3.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/09397310-21b7-4cc8-aaa8-a58c45baff2b.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/3a7ab1b6-34d2-400a-878e-5b447be5abdb.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/4b378bea-d5f9-46f9-b311-a3a2badaac7a.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/7d61c21b-18ec-4404-b9c1-ad1ddf6199c3.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/d791ca21-60a7-42d2-b647-39050bc42b97.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/01f646d6-3d15-481d-9688-152bd3f1855c.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/342bfe18-c1a5-421c-b29a-b47d2de44a97.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/89a8c727-2795-48e4-82a6-a66367f7ed68.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/dc1bc7fb-d5cd-49a4-941d-87295765801a.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/eb8bb963-3256-4d98-b8ff-f62d2c4bab31.vsidx
/.vs/Login/FileContentIndex/44b39663-be02-46c4-95da-f33995ef1e94.vsidx
/.vs/Login/FileContentIndex/c6404512-c91e-4e6f-b8e8-9039d5561667.vsidx
/.vs/Login/FileContentIndex/0a92c132-03ab-44d5-a4dc-69581148169b.vsidx
/.vs/Login/FileContentIndex/7a8770e0-97f6-49a3-b5e9-9972a57c558e.vsidx
/.vs/Login/FileContentIndex/b5b86863-e2e1-495c-9f78-6e1c427dc462.vsidx
/.vs/Login/FileContentIndex/c90844f4-0f1f-44e3-b242-52b6c015725d.vsidx
/.vs/Login/FileContentIndex/dad4cff8-7d94-4366-abe2-d736a88ecb9a.vsidx
/.vs/Login/FileContentIndex/dcaeb797-313e-4d31-8caa-eea8597b46d8.vsidx
/.vs/Login/FileContentIndex/e20c6f7d-326d-4933-b837-399ff57e039e.vsidx
/.vs/Login/FileContentIndex/e7447443-a1cd-47f0-934d-1c2e77c5f3c5.vsidx
